main {
  display: flex;
  flex-direction: column;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 582px;
}

.hero-text {
  position: relative;
  z-index: 2;
}

.hero-text h1 {
  position: absolute;
  margin-top: 90px;
}

.hero-gif {
  position: relative;
}

.hero-wrapper .quote-button {
  display: block;
  margin-top: 500px;
}

/* couldnt figure out how to overlap text over photo /hardcoded it */

.service {
  display: flex;
  height: 553px;
}
.service-left-col {
  width: 820px;
  align-content: center;
}

.testimonials-wrapper {
  margin: 140px 70px 140px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials-text {
  margin-left: 150px;
}

.benefit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 794px;
}

.benefit-image {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -50px);
  z-index: 1;
  margin-left: 525px;
}

.benefit-geometric-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}

.network-wrapper {
  display: flex;
}
