@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/rubik/Rubik-Regular.woff2') format('woff2'),
    url('assets/fonts/rubik/Rubik-Regular.woff') format('woff'),
    url('assets/fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/rubik/Rubik-Bold.woff2') format('woff2'),
    url('assets/fonts/rubik/Rubik-Bold.woff') format('woff'),
    url('assets/fonts/rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
